#enlace-ferrari {
    color: #F20505; /* Cambia el color normal del enlace */
}

#enlace-ferrari:hover {
    color: 
    #F2CB05; /* Cambia el color al pasar el ratón sobre el enlace */
}

#enlace-aston {
    color: #024059; /* Cambia el color normal del enlace */
}

#enlace-aston:hover {
    color: 
    pink; /* Cambia el color al pasar el ratón sobre el enlace */
}

#enlace-redbull {
    color: #292D73; /* Cambia el color normal del enlace */
}

#enlace-redbull:hover {
    color: #F21B54; /* Cambia el color al pasar el ratón sobre el enlace */
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}
