.footer-buttons {
    justify-content: space-between;
    display: flex;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px;
    border: bla;
    border-radius: 5px;
    background-color: #428C85;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: blueviolet;
}